.react-chatbot-kit-chat-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-chatbot-kit-chat-inner-container {
  flex: 1;
  background-color: #252526;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.react-chatbot-kit-chat-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #2d2d30;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #ffffff;
  padding: 12.5px;
  font-weight: bold;
  flex-shrink: 0;
}

.react-chatbot-kit-chat-input-container {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  background-color: #2d2d30;
  border-top: 1px solid #3e3e42;
}

.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow-y: auto;
  flex: 1;
  background-color: #1e1e1e;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  border: 1px solid #3e3e42;
  font-size: 0.85rem;
  background-color: #3c3c3c;
  color: #cccccc;
  border-bottom-left-radius: 5px;
}

.react-chatbot-kit-chat-input-form {
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #858585;
}

.react-chatbot-kit-chat-input:focus {
  outline: none;
  border: 1px solid #0e639c;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #0e639c;
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-btn-send:hover {
  background-color: #1177bb;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
  margin: 0 auto;
}
